.box {
    width: 420px;
    height: 670px;
    background-color: rgba(29, 96, 50, 1);
    border-radius: 5%;
    margin: 15px 40px;
  }
  
.box-passform {
    background-color: white;
    display: grid;
    grid-template-rows: 60px 1fr;
}


.box-passform__pass-type {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 70px 1fr;

    padding: 45px 30px;
}

.box-passform__icon {
    width: 55px;
    height: 55px;
    margin-right: 10px;
}

.pass-type__text {
    font-size: 2.25rem;
    margin: 0;
}


.pass-type__common-text {
    grid-column-start: 1;
    grid-column-end: 3;

    color: rgb(165, 163, 163);
    font-size: 1.5rem;
    font-weight: 400;

    padding-left: 8px;
}


.box-passform__choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin-top: 8%;
}

.box-passform__conditions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    padding: 25px 35px;
}

.box-passform__period {
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6%;
}

.box-passform__price_bold {
    font-size: 2.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


.box-passform__button {
    width: 85%;
    height: 10%;
    font-size: 1.4rem;
    font-weight: 600;

    background-color: rgba(29, 96, 50, 1);
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    margin-bottom: 20px;
}

.box-passform__button:active {
    background-color: rgb(49, 158, 82);
}
